<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html>
<head>
<meta charset="UTF-8">
<title>Cover Letter</title>

  <style>
    table td {border-collapse: collapse;}
    hr {
      height: 1px!important;
      color: #eeeeee!important;
      background-color: #eeeeee!important;
      border: 0px!important;
    }
    img {border:0!important; border-radius: 50%; vertical-align: middle;}
  </style>

</head>

<body style="margin: 0;padding: 20px 0 20px 0;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: Helvetica, Arial, Verdana, sans-serif; color: #55555; font-size: 14px; line-height: 21px;" align="center">
  <tr>
    <td align="center" style="padding: 20px 0 20px 0;">
      <table width="640" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <table>
              <tr>
                
                 
                <td style="border-bottom: 1px solid #eeeeee;font-size: 1px;color: #008000;" align="right">
                  <h2> {DATE}</h2>
                        <img src="http://www.google-analytics.com/collect?v=1&tid=UA-87344571-1&cid={EMAIL_ID}&t=event&ec=email&ea=open&el=open_email&cs=coverletter&cm=email&cn=elmalla_resume" />
   
                </td>
              </tr>
              <tr>
                <td style="padding: 20px 0 20px 0;" align="left" valign="top">
                  <table width="640" border="0" cellspacing="0" cellpadding="0" style="border-bottom: 1px solid #eee; padding: 0 0 20px 0; margin: 0 0 20px 0;">
                    <tr>
                      <td width="430" valign="top" align="left" style="padding: 5px 0 0 0">
                        <p style="font-size: 20px; color: #0000A0; line-height: 42px; letter-spacing: 1; margin: 0; padding: 0;">Dear {EMAIL_NAME}:</p>
                      </td>
                    </tr>
                    
                                        
                    <tr>
                      <td>
                        <p style="margin-bottom:0;padding:0;font-size: 19px ;color: #888888;">
                          {MESSAGE}
                        </p>

                        <hr style="background: #eeeeee; margin: 0px 0px 18px; padding: 0px; border-style: none; height: 1px;">

                        <p style="color: #0000A0; font-size: 17px;letter-spacing: 2;margin:0;padding:0;">
                            {MY_NAME}
                          </p>
                        <p style="color: #0000A0; font-size: 16px;letter-spacing: 2;margin:0;padding:0;">
                            {HP}
                        </p>
                        
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>

